[user]
	useConfigOnly = true
	name = aiotter
	email = git@aiotter.com

[core]
	excludesfile = ~/.gitignore_global
	pager = delta

[interactive]
	diffFilter = delta --color-only

[rebase]
	autosquash = true

[commit]
	verbose = true

[log]
	date = iso

[alias]
	fpush = push --force-with-lease
	get = !ghq get
	graph = log --graph --pretty=format:'%C(yellow)%h%Creset -%C(auto)%d%Creset %s (%cr) %C(blue)<%an>%Creset' --abbrev-commit --date=relative
	list = !ghq list
	one = !git log --oneline --color=always | head
	unstage = reset HEAD

[ghq]
	root = ~/repo
	user = aiotter

[url "git@github.com:"]
    insteadOf = https://github.com/

[delta]
	features = side-by-side

[delta "traditional"]
	keep-plus-minus-markers = true
	minus-style = syntax dim strike "#001930"
	minus-non-emph-style = syntax dim strike "#001930"
	minus-emph-style = syntax strike "#005099"
	plus-emph-style = auto bold auto

[delta "side-by-side"]
	side-by-side = true
	line-numbers = true
	minus-style = syntax dim "#001930"
	minus-emph-style = syntax bold "#005099"
	plus-emph-style = auto bold auto
