[user]
	useConfigOnly = true
[core]
	excludesfile = ~/.gitignore_global
[rebase]
	autosquash = true
[commit]
	verbose = true
[log]
	date = iso
[alias]
	one = !git log --oneline --color=always | head
	graph = log --graph --pretty=format:'%C(yellow)%h%Creset -%C(auto)%d%Creset %s (%cr) %C(blue)<%an>%Creset' --abbrev-commit --date=relative
	unstage = reset HEAD
	get = !ghq get
	list = !ghq list
[ghq]
	root = ~/dev/src
	user = aiotter
[url "git@github.com:"]
    pushInsteadOf = https://github.com/
