[user]
	useConfigOnly = true
	name = aiotter
	email = git@aiotter.com

[core]
	excludesfile = ~/.gitignore_global
	pager = delta

[interactive]
	diffFilter = delta --color-only

[rebase]
	autosquash = true

[commit]
	verbose = true

[log]
	date = iso

[alias]
	fpush = push --force-with-lease
	get = !ghq get
	graph = log --graph --pretty=format:'%C(yellow)%h%Creset -%C(auto)%d%Creset %s (%cr) %C(blue)<%an>%Creset' --abbrev-commit --date=relative
	list = !ghq list
	one = !git log --oneline --color=always | head
	unstage = reset HEAD
	# https://github.com/not-an-aardvark/git-delete-squashed
	delete-squashed = "!f() { local targetBranch=${1:-master} && git checkout -q $targetBranch && git branch --merged | grep -v \"\\*\" | xargs -n 1 git branch -d && git for-each-ref refs/heads/ \"--format=%(refname:short)\" | while read branch; do mergeBase=$(git merge-base $targetBranch $branch) && [[ $(git cherry $targetBranch $(git commit-tree $(git rev-parse $branch^{tree}) -p $mergeBase -m _)) == \"-\"* ]] && git branch -D $branch; done; }; f"

[ghq]
	root = ~/repo
	user = aiotter

[delta]
	features = traditional

[delta "traditional"]
	keep-plus-minus-markers = true
	minus-style = syntax dim strike "#001930"
	minus-non-emph-style = syntax dim strike "#001930"
	minus-emph-style = syntax strike "#005099"
	plus-emph-style = auto bold auto

[delta "side-by-side"]
	side-by-side = true
	line-numbers = true
	minus-style = syntax dim "#001930"
	minus-emph-style = syntax bold "#005099"
	plus-emph-style = auto bold auto
